* {
    margin: 0;
    padding: 0;
}
.windowTitle{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* left: 52%; */
    /* width: 20%; */
    text-align: center;
}
.lefttopBtn{
    width: 8%;
    height: 5%;
    position: absolute;
    left: 2%;
}
.righttopBtn{
    width: 8%;
    height: 5%;
    position: absolute;
    right: 2%;
}
.container {
    height: 70px;
    width: 800px;
    /*margin: 100px auto 0 auto;*/
}
.parent {
    position: relative;
}
.search {
    width: 92%;
    height: 80%;
    border-radius: 11px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
    text-align: center;
    margin-left: 2%;
}
.searchBtn {
    height: 80%;
    width: 10%;
    position: absolute;
    background: url("../img/search.png") no-repeat ;
    background-position: center;
    right:1%;
    border: none;
    outline: none;
    cursor: pointer;
}
.searchCleanBtn {
    height: 55%;
    width: 5%;
    position: absolute;
    background: url("../img/clean.png") no-repeat;
    background-position: center;
    top: 15%;
    right: 11%;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.notice {
    width: 28%;
    height: 26%;
    line-height: 16px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    position: relative;
    right: -85%;
    top: -108%;
}
.hide{
    display: none;
}
li:hover{
    background-color: #EDEDED;/*    PS：这里可以改变背景颜色*/
    /* color: #FFF;                                       PS：这里可以修改字的颜色*/
    cursor: pointer;
}
.btnIcon:hover{
    cursor: pointer;
}

/*滚动条*/
.scrollDiv::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.scrollDiv::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.scrollDiv::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

/*列表li样式*/
.liContentDiv{
    width:100%;
    height:60px;
}
.liContentImgDiv{
    height: 100%;
    width:13%;
    float: left;
    margin-left: 3%;
}
.liContentImgDiv img{
    height: 90%;
    width: 100%;
    margin-top: 5%;
}
.liContentRightDiv{
    height: 100%;
    width: 80%;
    float: left;
    margin-left: 3%;
}
.liContentUser{
    height: 40%;
    margin-top:2%;
    font-size: 16px;
    font-weight: bold;
}
.liContentRecord{
    height: 40%;
    width: 100%;/*必须设置宽度*/
    overflow: hidden;/*溢出隐藏*/
    text-overflow: ellipsis;/*以省略号...显示*/
    white-space: nowrap/*强制不换行*/
}
.liSpace{
    width: 96%;
    height: 2px;
    border-bottom: 1px solid #F8F8F8;
    margin-left: 3%;
}
.liFriendUser{
    height: 40%;
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
}

/*聊天记录详情*/
.leftTalk{
    margin: 3%;
    overflow: hidden;/*解决内部div全浮动而无法获取height*/
}
.leftTalkImgDiv{
    height: 50px;
    width: 13%;
    float: left;
}
.talkImgDiv img{
    height: 100%;
    width: 100%;
}
.leftTalkContent{
    float: left;
    width: 70%;
}
.talkUser{
    padding: 5px 10px;
}
.talkBubble{
    max-width: 80%;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px;
}
.RightTalk{
    text-align: right;
    overflow: hidden;
    margin: 3%;
}
.rightTalkImgDiv{
    height: 50px;
    width: 13%;
    float: right;
}
.rightTalkContent{
    float: right;
    width: 70%;
    text-align: right;
}
.rightTalkBubble{
    max-width: 80%;
    display: inline-block;
    background: #95EB6C;
    border-radius: 10px;
    padding: 5px 10px;
    float:right;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
}
.rightTalkNotify{
    overflow: hidden;
    width:100%
}
.read{
    float:right;
    font-size: 13px;
    padding: 5px;
    color: #8d8d8d;
    display: none;
}

/*好友*/
.groupFriend{
    display: none;
}
.friendTab{
    height: 100%;
    width:50%;
    text-align: center;
    float:left;
    cursor: pointer;
}

.checkedFriendTab{
    color: #29C4FC;
    border-bottom: 2px solid #29C4FC;
}

/*聊天详情*/
.chatPersonDiv{
    height: 80px;
    width: 16%;
    float: left;
    text-align: center;
    margin: 2%;
}
.chatPersonDiv img{
    height: 80%;
    width: 100%;
}

/*创建群列表*/
.addGroupLiContentRightDiv{
    height: 100%;
    width: 50%;
    float: left;
    margin-left: 3%;
}
.addGroupLiCheckBox{
    height: 100%;
    width: 10%;
    float: left;
    margin-left: 3%;
}
.checkBoxDiv{
    border: 1px solid #8d8d8d;
    height: 32%;
    width: 46%;
    margin: 40%;
}
.checked{
    background-color: green;
}
.hasChecked{
    background-color: #474f47;
}