<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>sip测试</title>
<!--    <script src="../static/js/jquery-3.4.1.min.js" type="text/css"></script>-->
<!--    <script src="../static/sip/sip.js" type="text/css"></script>-->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/sip/sip.js}"></script>

    <script th:src="@{/sip/NWDispatchUtils.js}"></script>
    <script th:src="@{/sip/NWDispatchChromeHost.js}"></script>
    <script th:src="@{/sip/NWDispatchClient.js}"></script>
    <script th:src="@{/sip/NWDispatchPerson.js}"></script>
    <script th:src="@{/sip/NWDispatchVideoWall.js}"></script>
    <script th:src="@{/sip/NWDispatchRoom.js}"></script>
    <script th:src="@{/sip/NWDispatchTest_Client_Event.js}"></script>
    <script th:src="@{/sip/NWDispatchTest_Person_Event.js}"></script>
    <script th:src="@{/sip/NWDispatchTest_VideoWall_Event.js}"></script>
    <script th:src="@{/sip/NWDispatchTest_Room_Event.js}"></script>

</head>
<body>
    <object id="mDispatchClient" width="0" height="0" style="width:0;height: 0;float:left"></object>
    <button onclick="client_init()">初始化</button>
    <button onclick="jltsVideoWall()">创建视频墙</button>
</body>
<script>
    $(function(){
        DispatchUnInit();//卸载插件
    })

</script>
</html>