/*树根节点隐藏加减号*/
.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
.ztree li ul.level0 {padding:0; background:none;}

/*滚动条*/
.treeScroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.treeScroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.treeScroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #102775;
}

#dutyHtml{
    color:#fff;
    width: 700px;
    height:470px;
    /*background-color: #010e55;*/
    position: fixed;
    top: 10%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1111;
}

#duTyWindowTitle{
    width: 700px;
    background-color: #102775;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    /*display: none;*/
}
.dutyTitleName{
    width: 70%;
    margin-left: 15%;
    float: left;
}
.dutyRightTopBtn{
    margin-right: 1%;
    height: 19px;
    width: 4%;
    float: right;
    cursor: pointer;
}
#dutyWindowBody{
    color: #fff;
    width: 700px;
    height: 450px;
    overflow: hidden;
    background: url(../img/background.jpg) no-repeat;
    background-size: 100% 100%;
}
.dutyDivShadow{
    border: 1px solid #000;
    box-shadow: #fff 0px 0px 2px 1px;
    /*background: url(../img/border.png) no-repeat;*/
    /*background-size: 100% 100%;*/
}
#dutyUnitTree{
    width: 87%;
    height: 90.5%;
    margin: 4.5% 0 2% 5%;
    padding: 5%;
    overflow: scroll;
}
#zTree{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#dutyLeftDiv{
    width:30%;
    height:100%;
    float: left;
}
#dutyRightDiv{
    width:69%;
    height:100%;
    float: left;
    margin-left: 1%;
}
#dutyTitle{
    margin: 2% 8% 0% 5%;
    background-color: #002551;
    border-radius: 5px;
    overflow: hidden;
}
#dutyUnitName{
    /*max-width: 70%;*/
    width:100%;
    margin-left: 2%;
    overflow: hidden;/*对超出容器的部分强制截取，高度不确定则换行*/
    text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本。*/
    white-space: nowrap;/*禁止换行*/
    float: left;
    text-align: center;
}
.dutyList{
    width: 26%;
    float: left;
    text-align: center;
    margin: 4% 0% 0% 5%;
    cursor: pointer;
}
.dutyType{
    background-color: #1C4579;
    border-radius: 5px 5px 0 0;
}
.dutyName{
    font-size: 13px;
    background-color: #002551;
    border-radius: 0 0 5px 5px;
    margin-top: 1%;
}

#mainDutyDiv{
    width:96%;
    height: 53%;
    margin: 2%;
}
#mainDutyTypeDiv{
    width:100%;
    height: 88%;
    overflow: scroll;
}

#dutyDetailDiv{
    width:96%;
    height:39%;
    margin: 2%;
    padding-top: 1%;
}
.dutyInfo{
    width: 43%;
    /* height: 14%; */
    margin: 0% 0% 0% 3.5%;
    padding: 1% 0 1% 1%;
    float: left;
    font-size: 13px;
    border: 1px solid #9b9696;
    background-color: #002551;
    border-radius: 5px;
}
.dutyInfoName{
    width:30%;
    float: left;
    text-align: center;
    border-right: 1px solid #9b9696;
    overflow: hidden;/*对超出容器的部分强制截取，高度不确定则换行*/
    text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本。*/
    white-space: nowrap;/*禁止换行*/
}
.dutyInfoValue{
    width: 65%;
    float: left;
    padding-left: 3%;
    overflow: hidden;/*对超出容器的部分强制截取，高度不确定则换行*/
    text-overflow: ellipsis;/*显示省略符号来代表被修剪的文本。*/
    white-space: nowrap;/*禁止换行*/
}
.dutyNotips{
    text-align: center;
    position: relative;
    top: 50%;
}
.dutyFullHeight{
    height:95.5% !important;
}